
body {
    background: #771814;
    font-family: Arial;
}
h1 {
    color: red;
}
/* aGgwIBFNb3FJXo8n1FKj86AKXUYnDJboOizXFFbGEdB4DEQVLQqnsi3fZ2a1thGdzFUmiUtnPE2ASqeXEgWkAx0y7t0xM5aUwgY1ImGNMzlwOyJ1T3eHW93UaR2PZ0Os5RV08op6vmWBlVlUvRDWkzj3zSk5tWXdNxkrk38D6wVmpdnKuLHfk7eCdkX0dVxa9herUtGi */
